<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supreme Court Prediction</title>
    <link rel="StyleSheet" href="{{ url_for('static', filename = 'style.css') }}"/>
    
</head>

<body>
    <div class="container">
        <div class="header">
            <h2>Supreme Court Judgement Prediction</h2>
        </div>
        <img src="{{ url_for('static', filename = 'hamoye_image.jfif') }}" class="image">
        <form action="{{ url_for('prediction') }}" method = "post" id="form" class="form">

            <div class="form-control">
                <label for="facts">Facts</label>
                <br>
                <textarea rows="10" cols="50"  id = "facts" name = "facts" required = "required"></textarea>
                
                
            <div class="form-control">
                <label for="issue area">Issue Area of case</label>
                <select id = "issue_area" name = "issue_area" required = "required">
                    <option value = 0>Attorneys</option>
                    <option value = 1>Civil Rights</option>
                    <option value = 2>Criminal Procedue</option>
                    <option value = 3>Due Process</option>
                    <option value = 4>Economic Activity</option>
                    <option value = 5>Federal Taxation</option>
                    <option value = 6>Federalism</option>
                    <option value = 7>First Amendment</option>
                    <option value = 8>Interstate Relations</option>
                    <option value = 9>Judicial Power</option>
                    <option value = 10>Miscellaneous</option>
                    <option value = 11>Privacy</option>
                    <option value = 12>Private Actions</option>
                    <option value = 13>Unions</option>
                </select>
                
            </div>
            <div class="predict">
			{% if prediction %}
				<h4> YOU HAVE A HIGH CHANCE TO {{ prediction }} THE CASE </h4>
			{% endif %}
                 
            </div>
            <button type="submit">Predict</button>
        </form>
    </div>
</body>
<br>
<br>
<div style = "position : relative;">
    <a href="{{ url_for('help') }}">Help</a>
    <div style="position: absolute; bottom: 10;">
        2022 (c) Team Anaconda
    </div>
</div>
</html>



			